li {
  width: 300px;
  height: 40px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/f3/8c/18/f38c18195daebfeb89c89a0d815dc707.jpg");
  background-size: 100px;
  background-repeat: no-repeat;

}
